@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}


body{
    width: 100%;
    height: 200vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

.about-me-section img {
    width: 80%;
    height: auto;
    padding: 1rem;
    border-radius: 50%;
}

header{
    margin-top: 10px;
    top: 0;
    left: 0;
    width: 100%;
    padding: .2rem 3%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
        color: white
    }
}

.navbar-name{
    font-family: Poppins;
    font-size: 3rem;
    color: white;
    span {
        color: yellow;
    }
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.navbar-name:hover{
    transform: scale(1.1);
}

h1 {
    font-size: 5rem;
    padding: 4rem 4rem 0 ;
}

.navbar-socials a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid yellow;
    font-size: 2rem;
    border-radius: 50%;
    margin: 2rem 1rem 2rem 0;    
    transition: 0.3s ease;
    color: yellow;
}

.frame {
    margin: 1em;
    border-radius: 7%;
    height: 500px;
    width: 60em;
}

.about-me-section {
    padding: 3rem;
    background-color: yellow;
    border-radius: 50px;
    padding: 10px;
    margin: 2rem 2rem;
    display: flex;
    font-size: 3em;
    h2 {
        margin: 1em 
    }
}

#timer {
    margin: 1em .7em;
    font-size: 2em;
    font-weight: bold;
}

.navbar-socials a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: yellow;
    box-shadow: 0  0 25px yellow;
}

.btn{
    margin: 1rem 3.9rem ;
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: yellow;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid yellow;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: yellow;
    color: black;
    box-shadow: 0 0 25px yellow;
}

.current {
    margin: 1rem 3.9rem ;
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid yellow;
    transition: 0.3s ease;
    cursor: pointer;
    transform: scale3d(1.03);
    background-color: yellow;
    color: black;
    box-shadow: 0 0 25px yellow;
}